extends layout

block content



  script#inputTemp(type='text/html')
  
    form.urlContainer.form-inline(action="/grabsite", method="post")
      input.input-xxlarge#urlInput(type="text", name="url", placeholder="Enter the URL of the Website you would like to clone")
      button.btn#cloneSite(type="submit") Clone This!
    a(href="/auth/facebook") 
      |fb login 
      img(src="login-with-facebook.png", width="154", height="22")
    a(href="/logout") Log Out


  script#editTemp(type='text/html')

    a.btn#saveTrigger.iu(href='#saveSiteModal', role='button', data-toggle='modal') Save Site

    #saveSiteModal.modal.hide.fade
      .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        .modal-body
          input#siteName
        .modal-footer
          a.btn.btn-primary#saveSite.ui(href='javascript:void()') Save


  if(typeof body !== "undefined")
    != body

  if(typeof user !== "undefined")
    script(type='text/javascript')
      var user = !{JSON.stringify(user)}
