extends layout

block content

  script#inputTemp(type='text/html')
    form.urlContainer.form-inline(action="/grabsite", method="post")
      input.input-xxlarge#urlInput(type="text", name="url", placeholder="Enter the URL of the Website you would like to clone")
      button.btn#cloneSite(type="submit") Clone This!



  if(typeof site !== "undefined")
    != site
